:root {
  --first_color: #7c76bb;
  --secound_color: #ff87b0;
  --text_color: #3f3f3f;
  --white_color: #ffffff;
  --background_color: #dcf0ff;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-font-smoothig: antialiased;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
}

.App {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
  
}

.App h1 {
  margin: 20px auto;
  font-size: 3.3rem;
  font-weight: 600;
  color: var(--first_color);
}

.App h1 span {
  color: var(--secound_color);
}

.parson_info h3 {
  color: var(--text_color);
  
}

